.ContactData {
   margin: 20px auto;
   width: 80%;
   text-align: center;

   box-sizing: border-box;
   box-shadow: 0 3px 4px solid #ccc;
   border: 1px solid #eee;
   padding: 10px;
}

@media (min-width: 600px) {
   .ContactData {
      width: 500px;
   }
}
